---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Not Found!" description="Error 404 - Page not Found">
  <main class="mt-4 flex flex-col justify-center items-center">
    <h1 class="text-2xl font-bold">404</h1>
    <p class="text-xl">Page not found</p>
  </main>
</Layout>
