<footer class="text-white">
  <!-- <section class="grid grid-cols-1 md:grid-cols-4 gap-2 bg-neutral-800 p-4">
    <div>
      <h3 class="text-xl font-semibold">WinterDevs</h3>
      <p>WinterDevs is a learning resource for roblox developers & creators.</p>
    </div>
  </section> -->
  <section class="text-center bg-neutral-900 py-4 text-neutral-300">
    <p>
      Made with ❤️ by <a
        href="https://github.com/WinterTechnologies"
        class="underline hover:text-white">Winter Technologies</a
      >
    </p>
    <p>
      Licensed under <a
        href="https://creativecommons.org/licenses/by/4.0/"
        class="underline hover:text-white">CC BY 4.0</a
      >
    </p>
  </section>
</footer>
